header{
    background-color: aquamarine;
    text-align: center;
}
table{
    width: 100%;
}
td{
    border: 1px black solid;
}

footer{
    background-color: #b470f5;
    text-align: center;
    margin: auto;
}
form{
    width: 500px;
    background-color: rgb(107, 146, 252);
    margin: 20px auto;
    padding: 50px;
}
h2{
    text-align: center;
}
label{
    margin: 30px;
}
textarea{
    margin: 30px;
}
input{
    margin: 10px;
}